recursive-include docs *
recursive-include tests *
include pytest.ini AUTHORS.rst CODE_OF_CONDUCT.md pyproject.toml LICENSE README.rst tox.ini .coveragerc .isort.cfg
prune docs/_build
prune *.pyc
prune __pycache__
