# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.
pytest
pytest-coverage
pytest-django
pytest-mock
pytest-pythonpath
mock
redis<3.2.0
django-redis
fakeredis
jsonschema
blinker
# these are constrained by the files in tests/constraints/*.txt
# to support a dual stack Django/Flask
Django; python_version >= '3.0'
Django<2.0; python_version < '3.0'
Flask
Flask-Redis
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Sphinx
sphinxcontrib-httpdomain
